

.mayFixedMiniBanner {
	border: 1px solid #eee;
	position: relative;
	border-radius: 3px;
	font: 400 16px/normal 'Pt sans';
	display: inline-block;
	position: fixed;
	bottom: -10px;
	transform: translateY(100%);
	right:20px;
	opacity: 0;
	transition: all .25s ease;
}
.mayFixedMiniBanner--show {
	opacity: 1;
	transform: translateY(0%);
	bottom: 20px;
	right:20px;
	transition: all .4s ease;
}

.mayFixedMiniBanner__clock,
.mayFixedMiniBanner__text {
	display: inline-block;
	vertical-align: middle;
}
.mayFixedMiniBanner__text {
	width: 202px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 10px 5px;
}
.mayFixedMiniBanner__clock {
	color: #ff9333;
}
.mayFixedMiniBanner__clock svg {
	width: 56px;
	height: 60px;
	padding: 5px 5px 5px 10px;
}
.mayFixedMiniBanner__text h5 {
	color: #FF9333;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 1.4;
}

.mayFixedMiniBanner__text p {
	font-size: .88em;
	color: #0054a6;
	line-height: 1.2;
}

.mayFixedMiniBanner__clock-arrow {
	transform: rotate(45deg);
    transform-origin: 50% 80%;
    animation: arrowAnumation 5s linear infinite;
}
.mayFixedMiniBanner__clock {
	transform: rotate(0deg),translateX(0);
    transform-origin: 42% 57%;
	animation: arrowAnumationShake 5s linear infinite;
}
.mayFixedMiniBanner__close {
	background: rgba(0,0,0,0.5);
	border: 3px solid #e0e0e0;
	border-radius: 100%;
	width:14px;
	height:14px;
	display: block;
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
}
.mayFixedMiniBanner__close >span {
	display: block;
	width: 65%;
	height:8%;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	background: rgba(255,255,255,0.8);
}
.mayFixedMiniBanner__close >span:nth-of-type(1) {
	transform: rotate(45deg);
}.mayFixedMiniBanner__close >span:nth-of-type(2) {
	transform: rotate(-45deg);
}

@keyframes arrowAnumation {
	0% {
		-webkit-transform: rotate(125deg);
		transform: rotate(125deg);
	}
	2% {
		-weblit-transform: rotate(145deg);
		transform: rotate(145deg);
	}

	
	10%,15% {
		-weblit-transform: rotate(145deg);
		transform: rotate(145deg);
	}
	15.7% {
		-weblit-transform: rotate(117deg);
		transform: rotate(117deg);
	}
	16.4% {
		-weblit-transform: rotate(122deg);
		transform: rotate(122deg);
	}
	17.1% {
		-weblit-transform: rotate(106deg);
		transform: rotate(106deg);
	}
	18.8% {
		-weblit-transform: rotate(109deg);
		transform: rotate(109deg);
	}
	19.5% {
		-weblit-transform: rotate(96deg);
		transform: rotate(96deg);
	}
	20.2% {
		-weblit-transform: rotate(99deg);
		transform: rotate(99deg);
	}
	21.9% {
		-weblit-transform: rotate(86deg);
		transform: rotate(86deg);
	}
	22.6% {
		-weblit-transform: rotate(88deg);
		transform: rotate(88deg);
	}
	23.3% {
		-weblit-transform: rotate(79deg);
		transform: rotate(79deg);
	}
	24% {
		-weblit-transform: rotate(81deg);
		transform: rotate(81deg);
	}
	24.7% {
		-weblit-transform: rotate(68deg);
		transform: rotate(68deg);
	}
	25.4% {
		-weblit-transform: rotate(64deg);
		transform: rotate(64deg);
	}
	26.1% {
		-weblit-transform: rotate(55deg);
		transform: rotate(55deg);
	}
	26.8% {
		-weblit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	60% {
		-weblit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	62% {
		-weblit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
	70% {
		-weblit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
	72% {
		-weblit-transform: rotate(85deg);
		transform: rotate(85deg);
	}
	80% {
		-weblit-transform: rotate(85deg);
		transform: rotate(85deg);
	}
	82% {
		-weblit-transform: rotate(105deg);
		transform: rotate(105deg);
	}
	90% {
		-weblit-transform: rotate(105deg);
		transform: rotate(105deg);
	}
	92% {
		-weblit-transform: rotate(125deg);
		transform: rotate(125deg);
	}

	100% {

		-weblit-transform: rotate(125deg);
		transform: rotate(125deg);
	}
}
@keyframes arrowAnumationShake {
	0% {
		-weblit-transform: rotate(0deg);
		transform: rotate(0deg);

	}
	13% {
		-weblit-transform: rotate(0deg);
		transform: rotate(0deg);

	}
	14% {
		-weblit-transform: rotate(-2.77deg);
		transform: rotate(-2.77deg);

	}
 16% {
    -weblit-transform: translate(-.5px, -.5px) rotate(.5deg);
    transform: translate(-.5px, -.5px) rotate(.5deg)
  }
  17% {
    -weblit-transform: translate(2.5px, .5px) rotate(.5deg);
    transform: translate(2.5px, .5px) rotate(.5deg)
  }
  18% {
    -weblit-transform: translate(.5px, -1.5px) rotate(-.5deg);
    transform: translate(.5px, -1.5px) rotate(-.5deg)
  }
  19% {
    -weblit-transform: translate(2.5px, 2.5px) rotate(-.5deg);
    transform: translate(2.5px, 2.5px) rotate(-.5deg)
  }
  20% {
    -weblit-transform: translate(2.5px, 1.5px) rotate(1.5deg);
    transform: translate(2.5px, 1.5px) rotate(1.5deg)
  }
  21% {
    -weblit-transform: translate(.5px, 1.5px) rotate(-.5deg);
    transform: translate(.5px, 1.5px) rotate(-.5deg)
  }
  22% {
    -weblit-transform: translate(1.5px, .5px) rotate(.5deg);
    transform: translate(1.5px, .5px) rotate(.5deg)
  }
  23% {
    -weblit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg)
  }
  24% {
    -weblit-transform: translate(.5px, .5px) rotate(.5deg);
    transform: translate(.5px, .5px) rotate(.5deg)
  }
  25% {
    -weblit-transform: translate(.5px, 1.5px) rotate(1.5deg);
    transform: translate(.5px, 1.5px) rotate(1.5deg)
  }
  26% {
    -weblit-transform: translate(2.5px, -.5px) rotate(1.5deg);
    transform: translate(2.5px, -.5px) rotate(1.5deg)
  }
  27% {
    -weblit-transform: translate(.5px, 1.5px) rotate(1.5deg);
    transform: translate(.5px, 1.5px) rotate(1.5deg)
  }
  28% {
    -weblit-transform: translate(2.5px, 1.5px) rotate(1.5deg);
    transform: translate(2.5px, 1.5px) rotate(1.5deg)
  }
  29% {
    -weblit-transform: translate(2.5px, -1.5px) rotate(.5deg);
    transform: translate(2.5px, -1.5px) rotate(.5deg)
  }
  30% {
    -weblit-transform: translate(.5px, -.5px) rotate(.5deg);
    transform: translate(.5px, -.5px) rotate(.5deg)
  }
  31% {
    -weblit-transform: translate(1.5px, -1.5px) rotate(.5deg);
    transform: translate(1.5px, -1.5px) rotate(.5deg)
  }
  32% {
    -weblit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg)
  }

	100% {
		-weblit-transform: rotate(0deg);
		transform: rotate(0deg);

	}
}







@-webkit-keyframes arrowAnumation {
	0% {
		-webkit-transform: rotate(125deg);
		transform: rotate(125deg);
	}
	2% {
		-weblit-transform: rotate(145deg);
		transform: rotate(145deg);
	}

	
	10%,15% {
		-weblit-transform: rotate(145deg);
		transform: rotate(145deg);
	}
	15.7% {
		-weblit-transform: rotate(117deg);
		transform: rotate(117deg);
	}
	16.4% {
		-weblit-transform: rotate(122deg);
		transform: rotate(122deg);
	}
	17.1% {
		-weblit-transform: rotate(106deg);
		transform: rotate(106deg);
	}
	18.8% {
		-weblit-transform: rotate(109deg);
		transform: rotate(109deg);
	}
	19.5% {
		-weblit-transform: rotate(96deg);
		transform: rotate(96deg);
	}
	20.2% {
		-weblit-transform: rotate(99deg);
		transform: rotate(99deg);
	}
	21.9% {
		-weblit-transform: rotate(86deg);
		transform: rotate(86deg);
	}
	22.6% {
		-weblit-transform: rotate(88deg);
		transform: rotate(88deg);
	}
	23.3% {
		-weblit-transform: rotate(79deg);
		transform: rotate(79deg);
	}
	24% {
		-weblit-transform: rotate(81deg);
		transform: rotate(81deg);
	}
	24.7% {
		-weblit-transform: rotate(68deg);
		transform: rotate(68deg);
	}
	25.4% {
		-weblit-transform: rotate(64deg);
		transform: rotate(64deg);
	}
	26.1% {
		-weblit-transform: rotate(55deg);
		transform: rotate(55deg);
	}
	26.8% {
		-weblit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	60% {
		-weblit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	62% {
		-weblit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
	70% {
		-weblit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
	72% {
		-weblit-transform: rotate(85deg);
		transform: rotate(85deg);
	}
	80% {
		-weblit-transform: rotate(85deg);
		transform: rotate(85deg);
	}
	82% {
		-weblit-transform: rotate(105deg);
		transform: rotate(105deg);
	}
	90% {
		-weblit-transform: rotate(105deg);
		transform: rotate(105deg);
	}
	92% {
		-weblit-transform: rotate(125deg);
		transform: rotate(125deg);
	}

	100% {

		-weblit-transform: rotate(125deg);
		transform: rotate(125deg);
	}
}
@-webkit-keyframes arrowAnumationShake {
	0% {
		-weblit-transform: rotate(0deg);
		transform: rotate(0deg);

	}
	13% {
		-weblit-transform: rotate(0deg);
		transform: rotate(0deg);

	}
	14% {
		-weblit-transform: rotate(-2.77deg);
		transform: rotate(-2.77deg);

	}
 16% {
    -weblit-transform: translate(-.5px, -.5px) rotate(.5deg);
    transform: translate(-.5px, -.5px) rotate(.5deg)
  }
  17% {
    -weblit-transform: translate(2.5px, .5px) rotate(.5deg);
    transform: translate(2.5px, .5px) rotate(.5deg)
  }
  18% {
    -weblit-transform: translate(.5px, -1.5px) rotate(-.5deg);
    transform: translate(.5px, -1.5px) rotate(-.5deg)
  }
  19% {
    -weblit-transform: translate(2.5px, 2.5px) rotate(-.5deg);
    transform: translate(2.5px, 2.5px) rotate(-.5deg)
  }
  20% {
    -weblit-transform: translate(2.5px, 1.5px) rotate(1.5deg);
    transform: translate(2.5px, 1.5px) rotate(1.5deg)
  }
  21% {
    -weblit-transform: translate(.5px, 1.5px) rotate(-.5deg);
    transform: translate(.5px, 1.5px) rotate(-.5deg)
  }
  22% {
    -weblit-transform: translate(1.5px, .5px) rotate(.5deg);
    transform: translate(1.5px, .5px) rotate(.5deg)
  }
  23% {
    -weblit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg)
  }
  24% {
    -weblit-transform: translate(.5px, .5px) rotate(.5deg);
    transform: translate(.5px, .5px) rotate(.5deg)
  }
  25% {
    -weblit-transform: translate(.5px, 1.5px) rotate(1.5deg);
    transform: translate(.5px, 1.5px) rotate(1.5deg)
  }
  26% {
    -weblit-transform: translate(2.5px, -.5px) rotate(1.5deg);
    transform: translate(2.5px, -.5px) rotate(1.5deg)
  }
  27% {
    -weblit-transform: translate(.5px, 1.5px) rotate(1.5deg);
    transform: translate(.5px, 1.5px) rotate(1.5deg)
  }
  28% {
    -weblit-transform: translate(2.5px, 1.5px) rotate(1.5deg);
    transform: translate(2.5px, 1.5px) rotate(1.5deg)
  }
  29% {
    -weblit-transform: translate(2.5px, -1.5px) rotate(.5deg);
    transform: translate(2.5px, -1.5px) rotate(.5deg)
  }
  30% {
    -weblit-transform: translate(.5px, -.5px) rotate(.5deg);
    transform: translate(.5px, -.5px) rotate(.5deg)
  }
  31% {
    -weblit-transform: translate(1.5px, -1.5px) rotate(.5deg);
    transform: translate(1.5px, -1.5px) rotate(.5deg)
  }
  32% {
    -weblit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg)
  }

	100% {
		-weblit-transform: rotate(0deg);
		transform: rotate(0deg);

	}
}